*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.DS_Store
wikipedia/target
wikipedia/.idea/
wikipedia/.DS_Store
wikipedia/target/
wikipedia/metastore_db/
wikipedia/derby.log
wikipedia/src/main/resources/wikipedia/*
